@charset "utf-8";
/* CSS Document */
body{ margin:0; font-size:16px;font-family:Arial,"微软雅黑"; }
h1,ul,li,p,h2,h3,dl,dt,dd{ margin:0; padding:0; list-style:none;}
.clear { zoom:1; }
.clear:after { content:''; display:block; clear:both; }
.fl { float:left; }
.fr { float:right; }


/*轮播图*/
.banner { position: relative; overflow: auto; text-align: center;}
.banner li { list-style: none; }
.banner ul li { float: left; }


.content{width: 1180px;margin: 0 auto;}

header{height: 200px;padding: 83px 0px;border-bottom: 1px solid #ffd9c9;position: fixed;top: 0px;z-index: 10;background: #fff;width: 100%;}
header .content{}
header .logo{margin-left: 10px;}
header .logo img{}
header .navigation{margin-left: 154px;}
header .navigation ul{margin-top: 10px;}
header .navigation ul li{float: left;margin-left: 117px;}
header .navigation ul li a{text-decoration: none;color: #333;font-size: 20px;}
.smallNav{height: 80px;
padding: 20px 0px;}

.home{margin-top: 230px;height: 560px;}
.home .rs{display: inline-block;margin-left: 60px;}
.banner {float: left;} 
.contact h3{font-size: 18px;margin-top: 40px;font-weight: 700;}
.contact .item{margin-top: 60px;}
.contact .intro{display: inline-block;margin-left: 10px;font-size: 16px;}

.tome{margin-top: 80px;}
.tome h3{font-size: 18px;font-weight: 700;}
.tome .item{margin-top: 60px; }
.tome .item a{margin-right: 20px;display: inline-block;width: 27px;height: 27px;}
.tome .item .qq{ background: url(../img/qq.png) no-repeat 0 0;}
.tome .item .wec{ background: url(../img/wechat.png) no-repeat 0 0;}
.tome .item .webo{ background: url(../img/weibo.png) no-repeat 0 0;}
.tome .item .zool{ background: url(../img/zool.png) no-repeat 0 0;}
.tome .item .qq:hover{ background: url(../img/qq_c.png) no-repeat 0 0;}
.tome .item .wec:hover{ background: url(../img/wechat_c.png) no-repeat 0 0;}
.tome .item .webo:hover{ background: url(../img/weibo_c.png) no-repeat 0 0;}
.tome .item .zool:hover{ background: url(../img/zool_c.png) no-repeat 0 0;}






.welcome{margin-top: 130px;}
.welcome h3{text-align: center;color: #333;}
.welcome .textIntro{line-height: 60px;text-align: center;font-size: 20px;margin-top: 40px;color: #666;}
.welcome .more{text-align: center;margin-top: 60px;}
.welcome .moreBtn{display:inline-block;line-height:42px;border: 1px solid #333;color: #333;text-decoration: none;
height: 42px;font-size: 20px;padding:0 30px}

.slide{margin-top: 140px;height: 480px;}
.slide .content {}
.slide .content .slideImg{width:520px;height:480px;background:#ccc;}
.slide .content .imgIntro{margin-right: 100px;}
.slide .content .imgIntro .icons{text-align: right;margin-bottom: 30px;}
.slide .content .imgIntro .detail{text-align: right;color: #666;line-height: 58px;font-size:24px;}


.showImg{margin-top: 150px;}
.showImg .imgGroup{}
.showImg .imgGroup .imgItem{margin-right: 18px;width: 205px;float: left;}
.showImg .imgGroup .imgItem .img{width: 100%;height: 365px;background: #999999;}
.showImg .imgGroup .imgItem .intro{width: 100%;height: 80px;line-height: 80px;padding-right: 20px;text-align: right; background: #e6e6e6;font-size: 20px;}
.showImg .imgGroup .imgItem .intro.active{background:#444444; color: #fff;}
.showImg .imgGroup .imgItem .intro:hover{background:#444444; color: #fff;}

.showImg .legend .legendTxt{text-align: right;
            color: #666;line-height: 80px;font-size: 24px;margin-top: 30px;}

.modal_header{text-align: center;background: #f2f2f2;height: 163px;padding: 48px;margin-top: 150px;}
.modal_header h4{font-size: 24px;margin: 0;padding: 0;}
.modal_header .title{}
.modal_header .intro{ margin-top: 20px;color: #666;font-size: 20px;}

.workShowCon{}
.workShowCon .workItem{width: 352px;margin-right: 65px;margin-top: 100px;border: 1px solid #ccc;}
.workShowCon .workItem .img{width: 350px;height: 300px;background: #e1dfdf;}
.workShowCon .workItem .detail{padding: 27px 0px 20px 21px;font-size: 14px;color: #666666;border-top: none;}
.workShowCon .workItem .detail .title{font-size: 18px;color: #333;}
.workShowCon .workItem .detail .title a{color: #333;}
.workShowCon .workItem .detail .subtext{height: 30px;line-height: 30px;font-size: 14px;}
.workShowCon .workItem .detail .intro{height: 30px;line-height: 30px;font-size: 14px;}
.workShowCon .workItem .detail .intro .time{}
.workShowCon .workItem .detail .intro .split{display: inline-block;margin: 0 20px;}
.workShowCon .workItem .detail .intro .keyword{}
.workShowCon .workItem .detail .intro .keyword label{color: #bd502f;}

.page{margin-top: 100px;text-align:  center;}
.page .pageItem{width: 50px;height: 38px;display: inline-block;border: 1px solid #333;margin-right: 23px;text-align: center;padding: 8px;cursor: pointer;}
.page .pageItem:nth-of-type(1){border: 1px solid #999;color: #999;}

.listenCon{line-height: 60px;font-size: 20px;margin:100px 0px 200px 0px;text-align: center;color: #666;}

footer{text-align: center;padding: 100px;height: 400px;}
footer .copy{margin-top: 50px;font-size: 16px;}